
.name {
    background-color: #3f51b5;
    box-shadow: 1px 1px 10px;
    color: white;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}
.name:hover {
    box-shadow: 3px 3px 15px;
}
main .row div {
    background-color: #757de8;
    border-radius: 10px;
    padding-bottom: 10px;
    border: solid 1px black;
}
header a {
    color: white;
}
header a:hover {
    color: #757de8;
}
main h3, a {
    font-family: 'Quicksand', sans-serif;
}
ul, li {
    font-family: 'Rubik', sans-serif;
}
main p {
    font-family: 'Rubik', sans-serif;
}