
.name {
    background-color: aquamarine;
    box-shadow: 1px 1px 10px;
}
.name:hover {
    box-shadow: 3px 3px 15px;
}
main .row div {
    background-color: #8b5957;
    border-radius: 10px;
    padding-bottom: 10px;
}